<h2>Please select a Survey to take!</h2>

<div>
  <% @surveys.each do |survey| %>
  <div>
    <%= survey.title %>
  </div>
  <div>
    <%= button_to 'info', survey_path(survey), method: :get %>
  </div>
<<<<<<< HEAD

=======
>>>>>>> 1cf42babd42e77ae4fbdbe874467a01eaaef32b9
  <% end %>

</div>

