<h2 id='take_survey'>Please select a Survey to take!</h2>

<div id='survey_list'>
  <% @surveys.each do |survey| %>
  <div id='survey_title'>
    <%= survey.title %>
  </div>
  <div>
    <%= button_to 'Take This Survey', survey_path(survey), method: :get %>
  </div>
  <% end %>

</div>

