
<div id='survey_start_title'> <%= @survey.title %> </div>

<div id='survey_description'> <%= @survey.description %> </div>
<div id='take_survey_button'>
  <%= button_to 'Take this Survey', user_surveys_path(user_survey:{survey_id: @survey.id}) %>
</div>

<%#= form_tag user_surveys_path do %>
  <%#= hidden_field_tag "user_survey[user_id]", @user.id %>
  <%#= hidden_field_tag "user_survey[survey_id]", @survey.id %>
  <%#= submit_tag "Create" %>
<%# end %>
