.pic {
  position: relative;
  height: 250px;
  width: 250px;
}

.home_img {
  height: 100px;
  width: 100px;
}

#nav_bar {
  background-color: #8ED6F0;
  display: inline-block;
  width: 100%;
  height: 100px;
  border: solid black;
}

body {
  height: 1262px;
  width: 1200px;
}

#heading {
  display: inline-block;
  font-size: 32px;
  width: 700px;
  text-align: center;
  padding: 25px;
  position: absolute; left: 200px; top: 0px;
  font-family: Impact, Charcoal, sans-serif;

}

.buttons {
  display: inline-block;
  float: right;
  padding: 25px;
}

#take_survey {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}

#survey_list {
  text-align: center;
}

#survey_title {
  font-family: Blippo, fantasy;
  font-size: 40px;

}

#main_body {
  height: 1200px;
}

#survey_start_title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  text-decoration: underline;

}

#survey_description {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#survey_create_form {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

.buttons {

  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#3a8a9e;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
}
.buttons:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
}
.buttons:active {
  position:relative;
  top:1px;
}