<h1 id='thanks'>Thanks for taking the survey</h1>

<div>
  <div id='monkey_script'>Click on the gorilla to go home</div>
    <%= link_to image_tag('http://cliparts.co/cliparts/dT9/Kpo/dT9KpoL9c.jpg', class: 'pic'), surveys_path %>
  </div>
</div>